*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(13, 7, 95); 
}

// .c-button--show {
//     position: absolute;
//     left: 15%;
//     bottom: 1.875em;
//     animation: animateUpDown 2s infinite;
//     transform: translateX(-50%);
//     margin-left: -80px;
//     transition: all 400ms linear;
// }

.navbar {
    background-color:rgba(225,225,225,0.35);
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.nav-item {
    padding: 0 5.5rem 0 0;
    font-weight: bold;
}

.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
}

.header .navbar-collapse {
    justify-content: flex-end;
}

.header .navbar-brand {
    text-indent: -99999px;
    background: url(../assets/logoVanessa2.png) no-repeat center center;
    background-size: contain;
    width: 25%;
    height: 80px;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
}

.carousel-inner {
    margin-top: 0px;
    height: 80vh;
    position: relative;
    width: 100%;
    overflow: hidden;

    img {
        height: 80vh;
        object-fit: cover;
    }
}

.progress-bar {
    justify-content: space-around;
    text-align: start;
    padding-left: 5px;
}

.progress{
    font-size: 15px;
    font-weight: bold;
}

.portfolio .col {
    padding: 0;
    background: black;
    position: relative;
    cursor:pointer;
}

.portfolio .portfolio-img {
    width: 100%;
    height: 400px;
    object-position: center;
    object-fit: cover;
    opacity: 0.6;
    
}

.portfolio .portfolio-hover {
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.856);
}

.portfolio .portfolio-hover a {
    font-size: 30px;
    text-decoration:none;
    letter-spacing: 4px;
}

.portfolio .portfolio-hover a:hover {
    transform:scale(1.4);
    transition: all .8s;
}

.portfolio .col:hover .portfolio-hover {
    opacity: 1;
    transition: 0.3s;
}

.title-section {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 40px;
    font-family: 'Handlee',Arial, Helvetica, sans-serif;
}

.text-section {
    p {
        width: 600px;
        text-align: justify;
        font-family: 'Lora',Arial, Helvetica, sans-serif;
    }
    
    .skills{
        width: 600px;
    }
}

#about {
    .container {
        max-width: 900px;
    }
    
    .foto-perfil {
        flex-grow: 0;
        flex-basis: 25%;
        width: 100%;
        margin: 0 auto;
    }
}

.portfolio{
    a {
        text-align: center;
    }
}

#contact {
    margin-top: 150px;
    min-height: 60vh;
}

.contact {
    background: #f8f9fa;

    p {
        margin-top: 50px;
    }
}

.form-contact {
    width: 65%;
    margin: 0 auto;
}

span.error{
    font-size: 14px;
    font-weight: bold;
    color: red;
    letter-spacing: 0.5px;
}

input.error,  textarea.error {
    border-color: red;
}

footer {
    margin-top: 150px;
    background-color:#237ebea3;

    i{
        margin: 3px;
        font-size: 28px;
        color: black;
    }

    i:hover{
        opacity: 0.5;
    }
}

.copyright {
    font-size: 13px;
    font-style: italic;
}

@media screen and (max-width: 768px){

    .header .navbar-brand {
        text-indent: -99999px;
        background: url(../assets/logoVanessa.png) no-repeat center center;
        background-size: contain;
        width: 15%;
        height: 70px;
    }

    #about {

        .container {
            max-width: 623px;
        }
        .text-section {
            p{
                width: 586px;
            }

        }
        .foto-perfil {
            flex-grow: 0;
            flex-basis: 25%;
            margin: 0 auto;
        }
    }
}

#arrowTop {    
    color: #211c24d2;
    position: fixed;
    top: 5%;
    right: 2%;
    cursor: pointer;
    background: 0 0;
    border: 0;
    font-size: 2em;
    cursor: pointer;
    transition: 0.3s;
}

#arrowTop::before {
  content: hidden;
}

#arrowTop:hover {
    color: rgb(50, 48, 51);
    transition: 0.3s;
}


